<h2>About page</h2>
<ul>
  <li><a href="#" class="round green" onclick="something()">Please<span class="round">But only if you really, really want to.</span></a></li>
  <li><a href="#" class="round red" onclick="something()">Click<span class="round">Yes, you just do it.</span></a></li>
	<li><a href="#" class="round yellow" onclick="something()">Here<span class="round">...and smile, please :)</span></a></li>
</ul> 

<script>

	function something()
	{
		alert('Hello!');
	}

</script>