<h2>Contacts</h2>
<br>
<br>
<br>
<h4>Ltd. "To you backery"
<br>192102 , Russia , Saint Petersburg city, street Salov , d . 50
<br>hours Call- center Mon-Fri 9 : 00-19 : 00
<br>From metro stations " Bucharest " , " Ligovsky " , " Volkovskaya " , "Moskovskaya" followed by the authors . Number 141 , №29, taxis № 194 , №401.
<br>
+7 ( 812 ) 640-44-44
<br>
  8 ( 800 ) 555-91-02
<br>
http://www.backery.ru
<br>
info@backery.ru</h4>