<h2>Welcome to the Backery!</h2>
<ul>
  <li><a href="#" class="round green">Please<span class="round">But only if you really, really want to.</span></a></li>
  <li><a href="#" class="round red">Click<span class="round">Yes, you just do it.</span></a></li>
	<li><a href="#" class="round yellow">Here<span class="round">...and smile, please :)</span></a></li>
</ul> 