<h2>How to order</h2>
<h4>Order in the Backery - this is the most simple, fast and convenient way to purchase goods.
<br>
You can order the buns in the following ways : draw yourself on the site, using the basket , call us , send us an e- mail , specifying therein the codes you have selected goods.</h4>