<h2>How to pay</h2>
<h4>1. Cash 
<br>You can pay cash to the courier , deliver your order, or at point of order to the address : St. Petersburg , ul.Salova 50 The - m or m Volkovskaya Buhareststkaya or outlets of the company Tochka . . .

<br>Before you pay for the product , carefully inspect it , make sure it is of high-quality indicators, check the completeness of the order.

<br>2. Payment by bank cards - Visa, MasterCard, Maestro</h4>