<h2><p>Here you can see list of orders</p></h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Address</th>
			<th>Your order</th>
		</tr>
	</thead>

	<tbody>
		<% @results.each do |row| %>
			<tr>
				<td><%= row['name'] %></td>
				<td><%= row['phone'] %></td>
				<td><%= row['address'] %></td>
				<td><%= row['order_input'] %></td>
			</tr>
		<% end %>
	</tbody>
</table>